aws/xsd-schemas/AWSIAMListPolicies_XSD.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://iam.amazonaws.com/doc/2010-05-08/"
           xmlns="https://iam.amazonaws.com/doc/2010-05-08/"
           elementFormDefault="qualified">

    <xs:element name="ListPoliciesResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ListPoliciesResult"/>
                <xs:element ref="ResponseMetadata"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="ListPoliciesResult">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Policies"/>
                <xs:element name="IsTruncated" type="xs:boolean"/>
                <xs:element name="Marker" type="xs:string" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="Policies">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="member" type="PolicyType" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="PolicyType">
        <xs:sequence>
            <xs:element name="PolicyName" type="xs:string"/>
            <xs:element name="PolicyId" type="xs:string"/>
            <xs:element name="Arn" type="xs:string"/>
            <xs:element name="Path" type="xs:string"/>
            <xs:element name="DefaultVersionId" type="xs:string"/>
            <xs:element name="AttachmentCount" type="xs:integer"/>
            <xs:element name="PermissionsBoundaryUsageCount" type="xs:integer"/>
            <xs:element name="IsAttachable" type="xs:boolean"/>
            <xs:element name="Description" type="xs:string" minOccurs="0"/>
            <xs:element name="CreateDate" type="xs:dateTime"/>
            <xs:element name="UpdateDate" type="xs:dateTime"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="ResponseMetadata">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="RequestId" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>